@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

header a {
    margin-left: 100px;
}

header h1 {
    color: #901C1C;
    margin-right: 100px;
    font-size: 2.25em;
    font-weight: 400;
    line-height: 47px;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10px;
}

.photographer_section article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 350px;
    min-width: 316px;
}

.photographer_section article:hover {
    background-color: #EFEFEF;
}

.photographer_section article>* {
    margin:0;
}

.photographer_section article a {
    text-decoration: none;
    text-align: center;
}

.photographer_section article:hover h2,
.photographer_section article a:focus h2 {
    font-size: 2.20em;
    font-weight: 900;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 2.35em;
    font-weight: 400;
    margin: inherit;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.photographer_section article .photograper-city {
    color: #901C1C;
    font-size: 0.8em;
}

.photographer_section article .photograper-tagline {
    font-size: 0.625em;
}

.photographer_section article .photograper-price {
    color: #757575;
    font-size: 0.55em;
}

/*Page d'erreur*/
#error_page main {
    text-align: center;
}

#error_page main h1 {
    margin-right: unset;
}

#error_page main img {
    width:50% ;
}

@media screen and (max-width: 768px)  {
    header {
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        height: unset;
    }
    header .logo {
        margin-left: unset;
    }

    header h1 {
        margin-right: unset;
    }
    .photographer_section {
        justify-content: center;
        
    }
    /*Page d'erreur*/
    #error_page header {
        flex-direction: column;
        margin-bottom: 50px;
        padding: 20px;
    }

    #error_page header .logo {
        margin-left: unset;
    }

    #error_page header h1 {
        margin-right: unset;
    }
    
    #error_page main {
        padding: 20px;
    }

    #error_page main img {
        width: 80%;
    }
}

@media screen and (max-width: 360px)  { 
    header h1 {    
        font-size: 1.5em;
    }

    .photographer_section article h2 {
        font-size: 2em;
      }
}